.main {
    background: transparent;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main::-webkit-scrollbar {
    width: 8px;
}

.main::-webkit-scrollbar-track {
    background: #ffffff26;
    border-radius: 4px;
}

.main::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #647bff;
    background-image: -webkit-linear-gradient(90deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}