.aboutBackground {
    background: transparent;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.aboutBackground::-webkit-scrollbar {
    width: 8px;
}

.aboutBackground::-webkit-scrollbar-track {
    background: #ffffff26;
    border-radius: 4px;
}

.aboutBackground::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #647bff;
    background-image: -webkit-linear-gradient(90deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}


.hooksMain {
    background: transparent;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b1,
.b2,
.b3 {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    border-radius: 50%;
    background: #CCAEA4;
    box-shadow: 10px 10px 10px 0px rgb(0 0 0);
    opacity: 1;
    box-shadow: 0 0 60px 30px #647bff, 0 0 140px 70px #647bff, 0 0 140px 90px #647bff
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 12px #ff0101, inset 0 0 12px #ff0101;
    }

    50% {
        box-shadow: 0 0 24px #ff0101, inset 0 0 24px #ff0101;
    }

    100% {
        box-shadow: 0 0 12px #ff0101, inset 0 0 12px #ed4b0b;
    }
}


.b1 {
    width: 60px;
    height: 60px;
}

.b2 {
    width: 240px;
    height: 240px;
}

.b3 {
    width: 90px;
    height: 90px;
}

.b1::after,
.b2::after,
.b3::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(238, 235, 235, 0.904);
}

.b2::after {
    top: 40px;
    left: 40px;
    width: 40px;
    height: 40px;
}

.b3::after {
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
}

.hooksFilter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: url('#About');
    overflow: hidden;
    z-index: -1;
}