.icons {
    display: flex;
    flex-direction: column;
    width: 270px;
    justify-content: space-around;
    margin: 0.3rem auto;
}

.icons-rows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 0.3rem;
}


.icon-core {
    font-size: 35px;
    color:  white
}

.icons-rows .icon {
    list-style: none;
    margin: 5px 5px;
    display: inline-block;
    position: relative;
    width: 45px;
    height: 45px;
}

.icons-rows .icon a {
    position: relative;
    display: inline-block;
    color: #000000;
    font-size: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-rows .icon span {
    display: inline-block;
    position: absolute;
    background: #000000;
    transition: transform 0.9s;
}

.icons-rows .icon span:nth-of-type(1),
.icons-rows .icon span:nth-of-type(2) {
    width: 45px;
    height: 1px;
}

.icons-rows .icon span:nth-of-type(3),
.icons-rows .icon span:nth-of-type(4) {
    width: 1px;
    height: 45px;
}

.icons-rows .icon span:nth-of-type(1) {
    top: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(1);
}

.icons-rows .icon span:nth-of-type(2) {
    bottom: 0;
    left: 0;
    transform-origin: left;
    transform: scale(1);
}

.icons-rows .icon span:nth-of-type(3) {
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: scale(0);
}

.icons-rows .icon span:nth-of-type(4) {
    top: 0;
    right: 0;
    transform-origin: top;
    transform: scale(0);
}

/*************  On hover  *****************/
.icons-rows .icon:hover span:nth-of-type(1) {
    transform-origin: left;
    transform: scaleX(0);
}

.icons-rows .icon:hover span:nth-of-type(2) {
    transform-origin: right;
    transform: scale(0);
}

.icons-rows .icon:hover span:nth-of-type(3) {
    transform-origin: top;
    transform: scale(1);
}

.icons-rows .icon:hover span:nth-of-type(4) {
    top: 0;
    right: 0;
    transform-origin: bottom;
    transform: scale(1);
}