.home {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imanePart .ismailPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imanepart .imane {
    right: 0;
    margin-top: 300px;
    height: 200px;
    width: 500px
}

.shape {
    position: relative;
    border-radius: 52% 58% 50% 56% / 32% 62% 45% 82%;
    background-color: #647bff;
    box-shadow: #647bff 1px 1px 15px;
    ;
    width: 360px;
    height: 240px;
    margin-top: -5rem;
}

.imanePart .shape {
    border-radius: 58% 88% 76% 60% / 51% 68% 94% 95%;
}

.desc h3 {
    height: 100px;
    position: 'absolute';
    top: 0;
    height: '100px';
}