.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.part{
    margin-top: 300px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

.shape {
    position: relative;
    border-radius: 50%;
    border-width: 2px;
    border-color: #647bff;
    background-color: #00000090;
    box-shadow: #647bff 1px 1px 10px;
    min-height: 300px;
    width: 300px;
    flex: 1;
}

.desc h3 {
    height: 100px;
    position: 'absolute';
    top: 0;
}